<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>This is a HomePage 1+3 </h1>
    <!-- <h3><%= 1+3 %></h3> -->
    <!-- <h3><%= "dhuruv".toUpperCase() %></h3> -->
    <!-- <h3><%= ["Dhuruv","saurav","rajeev"][1] %></h3> -->
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique fuga ab nostrum. Quae, dolore? Ea esse
        quaerat voluptate, id vitae maiores quo, nemo veritatis reiciendis libero dolorum corporis. Nisi, dolores!</p>
    <button>click me</button>

</body>

</html>